@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card-container {
  perspective: 1000px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 20rem;;
  height: 10rem;
  cursor: pointer;
  /* border: 1px solid red; */
  /* border-radius: 0.5rem; */
  padding: 1rem;
  position: relative;
  /* background-color: aquamarine; */
}

.card {
  width: 100%;
  height: 80%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* padding: 1rem; */
}

.card-container:not(:first-child) {
  /* margin-left: -500px; */
}

.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  min-height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  text-align: center;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #f0f0f0;
}
